/*
 * Cheat sheet for pre-defined GTK theme colors:
 * @borders
 * @theme_bg_color
 * @theme_fg_color
 * @theme_base_color
 * @theme_text_color
 * @theme_selected_bg_color
 * @theme_selected_fg_color
 * @theme_tooltip_bg_color
 * @theme_tooltip_fg_color
*/

/* DEFAULT */
.test {
    background-color: darkmagenta;
}

.base-color {
    background-color: @theme_base_color;
}

.heading {
    font-weight: bold;
    font-size: large;
}

.heading-light {
    font-weight: normal;
    font-size: large;
}

.icon-button {
    border-radius: 100px;
}

.border-round {
    border-radius: 10px;
    border: 1px solid @borders;
}

.border-square {
    border: 1px solid @borders;
}

.underline {
    border-bottom: 1px solid @borders
}

/* HEADER */
.header {
    border-bottom: 1px solid @borders;
}

/* SIDEBAR */
.sidebar {
    border-right: 1px solid @borders;
}

.sidebar .list-entry {
    background-color: transparent;
    border-left: 3px solid transparent;
    margin-top: 6px;
    margin-left: 3px;
}

.sidebar .list-entry:hover {
    background-color: alpha(@theme_selected_bg_color, 0.35);
}

.sidebar .list-entry:selected {
    border-left: 3px solid @theme_selected_bg_color;
}

.sidebar .list-entry image {
    padding-left: 9px;
}

.sidebar .list-entry label {
    padding-left: 18px;
}

.sidebar .list-entry:selected label {
    color: @theme_fg_color;
}

.sidebar .list-entry:hover label {
    color: @theme_selected_fg_color;
}

/* FOOTER */
.footer {
    border-top: 1px solid @borders;
}
